






/* VERTICLE PARALLAX DEPRECATED

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {

  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #000;
}

section#parallax--viewport {
  position: relative;
  overflow: hidden;
  height:1500px;
  width: 1690px;
}

div#b {
  position: fixed;
  top:0px;
  left:0px;
  margin-left: 10%;
  width: 200px;
  height: 200px;
  background: url("./moonphases/moonphases.gif") 0 no-repeat;
}

div#c {
  position: fixed;
  top:0px;
  left:0px;
  margin-left: 10%;
  width: 200px;
  height: 200px;
  background: url("./clouds/cloudGIF/clouds.gif")  0 no-repeat;
}

.parallax--3rd {
  top: 0px;
  position: absolute;
  /*height: 100%;
  width: 100%;
}

.parallax--2nd {
  top: 25px;
  position: absolute;
  /*height: 100%;
  width: 100%;
}

.parallax--1st {
  top: 35px;
  position: absolute;
  /*height: 100%;
  width: 100%;
}
*/
